@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
/* font-family: 'Redressed', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/* font-family: 'Lobster', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* font-family: 'Indie Flower', cursive; */

*,
::after,
::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 2px;
}
:root {
  --background-body: #f1f5f8;
  --background-btn: #56768f;
  --background-hover: #182127;
}
body {
  background: var(--background-body);
  position: relative;
}

/* ######################## Home Page ####################### */
.home-page {
  background: #f1f5f8;
  min-height: 100vh;
  font-family: 'Redressed', cursive;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding-bottom: 2rem;
}
.navbar {
  background: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.685);
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 1.3rem;
  width: 100%;
  z-index: 3;
}
.fixed-navbar {
  position: fixed;
  width: 100%;
  top: 0%;
  transition: all 0.4s linear;
}
.navbar .nav-logo {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 48px;
  font-size: 1.3rem;
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  color: #182127cb;
}
.nav-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  background: rgb(142, 147, 151);
  transition: all 0.4s linear;
  transform: translateX(-100%);
  z-index: 3;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
.home-page .content {
  padding: 2rem 1rem;
}
.home-page .content .img {
  max-width: 300px;
  height: 400px;
  margin: 0px auto;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 10px #182127;
}
.home-page .content .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-page .content .img::after {
  position: absolute;
  content: '';
  top: 0.7rem;
  left: -1rem;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 2px solid #182127b7;
  box-shadow: 0px 0px 0px #1821277c;
}
.content .info {
  margin: 3rem auto;
  text-align: center;
  color: black;
  max-width: 400px;
  width: fit-content;
}
.content .info .btn {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 1rem auto;
  background: #8498a1;
  width: fit-content;
  color: white;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.content .info .btn:hover {
  background: #182127;
}
.info .start {
  font-family: 'Lobster', cursive;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  display: flex;
  letter-spacing: 1px;
  flex-direction: column;
  row-gap: 0.4rem;
  align-items: center;
  opacity: 0.8;
}
.info .txt {
  margin-top: 1rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #182127;
}
.info .start div {
  width: fit-content;
  position: relative;
  letter-spacing: 3px;
  color: transparent;
  animation: start-txt 0.5s ease forwards;
  animation-delay: 1s;
  -webkit-animation: start-txt 0.5s ease forwards;
}
.start div:nth-child(1) {
  animation-delay: 1s;
}
.start div:nth-child(2) {
  animation-delay: 2s;
}
.start div:nth-child(3) {
  animation-delay: 3s;
}
.start div:nth-child(4) {
  animation-delay: 4s;
}
.start div:nth-child(5) {
  animation-delay: 5s;
}
.start div:nth-child(6) {
  animation-delay: 6s;
}
.start div span {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0%;
  height: 100%;
  animation: start 1s ease;
  background: #8498a1;
  -webkit-animation: start 1s ease;
}
.start div:nth-child(1) span {
  animation-delay: 0.5s;
}
.start div:nth-child(2) span {
  animation-delay: 1.5s;
}
.start div:nth-child(3) span {
  animation-delay: 2.5s;
}
.start div:nth-child(4) span {
  animation-delay: 3.5s;
}
.start div:nth-child(5) span {
  animation-delay: 4.5s;
}
.start div:nth-child(6) span {
  animation-delay: 5.5s;
}

/* animation of start */
@keyframes start-txt {
  100% {
    color: #182127;
  }
}
@keyframes start {
  50% {
    width: 100%;
    left: 0%;
  }
  100% {
    width: 0%;
    left: 100%;
  }
}
/* end of animation of start */
/* responsive */
@media (min-width: 700px) {
  .nav-btn {
    display: none;
  }
  .content .info .btn {
    margin: 2rem 0rem;
  }
  .home-page .navbar {
    padding: 0rem 5%;
    display: flex;
    align-items: center;
  }
  .home-page .content {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
  .content .img {
    order: 2;
  }
  .content .info {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    margin-left: auto;
  }
  .info .start {
    align-items: flex-start;
  }
}
/* end of responsive */
/* ######################## end of Home Page ####################### */

/* ######################## Sensors Page ####################### */
.sensors-container {
  margin: 3rem auto;
  text-align: center;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}
.sensors-container .card {
  background: rgba(0, 0, 0, 0.8);
  font-family: 'Indie Flower', cursive;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.726);
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: capitalize;
  padding: 1.5rem 0rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #8498a1;
  transition: all 0.2s linear;
  width: 100%;
}
.sensors-container .card:hover {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
  color: black;
}
.sensors-container .card .sensor {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}
.sensors-container .card .value {
  font-size: 1.3rem;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 0.3rem;
}

/* responsive */
@media screen and (min-width: 700px) {
  .sensors-container {
    grid-template-columns: 1fr 0fr 1fr;
  }
}
@media screen and (min-width: 1000px) {
  .sensors-container {
    grid-template-columns: 1fr 0fr 1fr 0fr 1fr;
  }
}
/* end of responsive */
/* ######################## end of Sensors Page ####################### */

/* final responsive */
@media screen and (max-width: 450px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 350px) {
  html {
    font-size: 70%;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 60%;
  }
}
@media screen and (max-width: 260px) {
  html {
    font-size: 50%;
  }
}
@media screen and (max-width: 250px) {
  html {
    font-size: 40%;
  }
}
/* end of final resonsive */
